<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">


    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n%n</Property>
        <Property name="LOG_FILE">logs/digital-wallet.log</Property>
    </Properties>


    <!-- APPENDERS: the destinations where logs are sent.-->
    <Appenders>

        <!--CONSOLE APPENDER: prints logs to your IDE terminal / stdout.-->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <!-- Use the pattern we defined above -->
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="FileAppender"
                     fileName="${LOG_FILE}"
                     filePattern="logs/digital-wallet-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>

            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!--
              Kafka appender in log4j2.xml of digital_wallet(send the logs to kafka)
          -->
        <Kafka name="KafkaAppender" topic="wallet-logs">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>

    </Appenders>

    <Loggers>
        <!--
            YOUR APPLICATION LOGGER.
            name = the base package of your project — covers all your classes.
            level="DEBUG" = show DEBUG, INFO, WARN, ERROR (everything).
        -->
        <Logger name="com.project.digital_wallet_with_spring" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/> <!-- send to terminal -->
            <AppenderRef ref="FileAppender"/>    <!-- AND send to file -->
            <AppenderRef ref="KafkaAppender"/>   <!-- AND send to Kafka -->
        </Logger>


        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>


        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

    </Loggers>

</Configuration>